
/* 1. IMPORT SECTION */

	@import url("bulma.css");
	@import url("font-awesome.min.css");
	@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,800i');

	/*ALIGNMENTS*/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.margin-top {
	margin-top: 50px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.margin-bottom-2x {
	margin-bottom: 100px;
}

.margin-top-20{
	margin-top: 20%;
}

.margin-top-25{
	margin-top: 25%;
}

.margin-top-30{
	margin-top: 30%;
}

.image-center {
	display: block;
	margin: auto;
}

/*LOGO*/

 .weth-logo {
	width: 100%;
	height: 50px;
 }

 .weth-logo-size {
	height: 30px;
 }

 .radar-logo {
	 width: 60%;
	 height: auto;
 }

 .weth-gif {
	 width: 80%;
	 height: auto;
 }

 .poweredby {
	 position: absolute;
	 top: 30px;
	 right: 20px;
 }

 .poweredby-mobile {
	 position: absolute;
	 margin-top: 145px;
	 left: 50%;
	 margin-left: -45px;
 }

 .poweredby-size {
	 height: 40px;
 }

/*FONT*/
header {
	font: 16px/1.5 "Montserrat", sans-serif;
	background-color: #fff;
	color: #262626;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.header-text {
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-size: 2.5em;
	font-weight: 800;
	line-height: 1.5;
	font-style: italic;
}

.header-text-mobile {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 3em;
	font-weight: 800;
	line-height: 1.125;
	padding-top: 10px;
	padding-bottom: 10px;
}

h2.header-paragraph {
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-size: 1.75em;
	font-weight: 800;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3.header-paragraph {
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-size: 1.25em;
	font-weight: 800;
	line-height: 1.5;
	padding-top: 30px;
	padding-bottom: 10px;
}

h4.header-paragraph {
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
}

.body-title-text {
		font: 16px/1.5 "Montserrat", sans-serif;
		color: #fff;
		font-weight: 400;
		font-size: 1.25em;
}

.body-title-text-mobile {
		font: 16px/1.5 "Montserrat", sans-serif;
		color: #000;
		font-weight: 800;
		font-size: 2em;
}
